.addP {
	width: 600px!important;
	margin-top: 100px;
	border-radius:10px;
	background-color: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;

	 box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.addbtn {

	width: 180px;
	height: 50px;
	border-radius: 10px;
	border-color: #c0a74b;
	margin-left: 80px;
	color: #F7F7F7;
	background-color: #c0a74b;
	
	font-size: 1.25rem;
	font-family: 'Roboto Mono', monospace;
	border-style: solid;
	 box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.addbtn:hover{
	border-color: #c0a74b;
	background-color: #F7F7F7;
	color: #c0a74b;
}