.footer{
	height: 100%;
	background-color: #c0a74b;
	color: #F7F7F7
}

.footer2 {
	display: flex;
	flex-direction: column;
}

.followUs {
	font-size: 1.15rem;
	
}

.copyR {

	font-size:1rem;

}

@media (max-width: 780px) {

.footer{
	height: 80%;

}

.followUs {
	font-size: 1rem;
	
}

.copyR {

	font-size:1rem;
	
}



}