#container-card {
	display: flex;
	justify-content: center;
}

#cart-card {

	height: 65vh;
	width: 800px;
	border-color: #c0a74b;
	border-style: solid;
	border-width: 2px;
	margin-top: 100px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

#img-cart {

	height: 100%;
	
}

#product-name {
	font-size: 2rem;
	color: #c0a74b;

}

#product-desc {
	color: #c0a74b;
}

#product-price {
	font-weight: bold;
	color: #c0a74b;
	font-size: 4rem;
}

.add {

	width: 140px;
	height: 50px;
	border-radius: 10px;
	border-color: #c0a74b;
	color: #F7F7F7;
	background-color: #c0a74b;
	
	font-size: 1.15rem;
	font-family: 'Roboto Mono', monospace;
	border-style: solid;
	


}

.add:hover{
	border-color: #c0a74b;
	background-color: #F7F7F7;
	color: #c0a74b;
}

.hide {
	display: none;
}

.remove {
	width: 140px;
	height: 50px;
	border-radius: 10px;
	border-color: #c0a74b;
	color: #c0a74b;
	background-color: #F7F7F7;

	font-size: 1.15rem;
	font-family: 'Roboto Mono', monospace;
	border-style: solid;
	

}

.remove:hover{
	border-color: #F7F7F7;
	background-color: #c0a74b;
	color: #F7F7F7;
}