#carousel2 {
	width: 60px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    border-width: 8px 8px 8px 8px;
    border-style: solid;
    border-color: #c0a74b;
}

.ads {

    width: 10px !important;
    height: 500px;

}
